header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    background-color: $white;
    z-index: 10;
    .admin-bar & {
        top: 32px;
        @media screen and (max-width: 782px) {
            top: 46px;
        }
    }
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        display: inline-block;
        width: 100%;
        max-width: 300px;
        @media screen and ($tablet) {
            max-width: 150px;
        }
        img {
            display: block;
        }
    }
    .btn {
        @media screen and (min-width: 769px) {
            box-shadow: 4px 1px 49px 6px rgba(193,196,222,0.86);
        }
    }
}