$h1-font-size: 60px;
$h1-line-height: 1.2;

$h2-font-size: 50px;
$h2-line-height: 1.2;

$h3-font-size: 40px;
$h3-line-height: 1.2;

$h4-font-size: 30px;
$h4-line-height: 1.2;

$h5-font-size: 24px;
$h5-line-height: 1.3;

$h6-font-size: 18px;
$h6-line-height: 1.5;

@mixin heading-style($heading-font-size, $heading-line-height){
    font-size: $heading-font-size;
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    line-height: $heading-line-height;
}

@mixin link-style(){
    font-family: $base-font-family;
    letter-spacing: 0.155em;
    text-transform: uppercase;
    font-weight: $bold;
}

html {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: 16px;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin: 0 0 15px 0;
	&.underline {
		display: inline-block;
		border-bottom: 2px solid #FFFFFF;
	}
}

h1, .h1 {
    @include heading-style($h1-font-size, $h1-line-height);
    @media screen and ($tablet) {
        font-size: calc( 60px - 34px );
    }
}

h2, .h2 {
    @include heading-style($h2-font-size, $h2-line-height);
    @media screen and ($tablet) {
        font-size: calc( 50px - 23px );
    }
}

h3, .h3 {
    @include heading-style($h3-font-size, $h3-line-height);
}

h4, .h4 {
    @include heading-style($h4-font-size, $h4-line-height);
}

h5, .h5 {
    @include heading-style($h5-font-size, $h5-line-height);
}

h6, .h6 {
    @include heading-style($h6-font-size, $h6-line-height);
}

p {
    margin-bottom: 10px;
}

a {
    font-weight: 600;
    color: $action-color;
    text-decoration-skip: auto;
    transition: all $base-duration $base-timing;
    text-decoration: underline;
    &:focus {
        outline: $focus-outline;
        outline-offset: $focus-outline-offset;
    }
}

p {
    a {
        position: relative;
        display: inline-flex;
        padding: 0 8px;
        color: #fff;
        overflow: hidden;
        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all $base-duration $base-timing;
            z-index: -1;
        }
        &:before {
            // opacity: 0;
            background-color: #006889;
            transform: translate3d(-100%,0,0);
        }
        &:after {
            transform: translate3d(0,0,0);
            background-color: $blue;
        }
        &:hover,
        &:focus {
            &:before {
                opacity: 1;
                transform: translate3d(0,0,0);
            }
            &:after {
                // opacity: 0;
                transform: translate3d(100%,0,0);
            }
            // color: $action-color;
            // background-color: #0183ac;
        }
    }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

blockquote {
    padding-left: 20px;
    margin-bottom: 20px;
    font-style: italic;
    border-left: 2px solid $blue;
}
